doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='description' content='Личный блог Типотека')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Типотека
  link(rel='preload' href='/fonts/Inter-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/Inter-Medium.woff2' as='font' crossorigin='anonymous')
  link(rel='preload' href='/fonts/SFProDisplay-Regular.woff2' as='font' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.min.css')
body.wrapper

  mixin insertArticleImage(article)
    img(src=`/img/${article.picture ? article.picture : 'blank.png'}` alt=article.title)

  mixin insertSearchResult(result)
    .search__result
      time.search__date(datetime=`${result.createdDate}`) #{result.createdDate}
      a.search__link
        | #{result.title}

  mixin insertCategory(category)
    .new-publication__checkbox.new-publication__checkbox--auto
      input#checkbox-auto(type='checkbox', name=`category-${category}`)
      label(for='checkbox-auto') #{category}

  include partials/header.pug
  block content
  include partials/footer.pug
  script(src='/js/vendor.js')
  script(src='/js/main.js')
